APP_ENV=development
APP_NAME=picpay-desafio-backend
LOG_LEVEL=INFO

DATABASE_URL=postgresql+psycopg://picpay:picpay@db:5432/picpay

AUTHORIZER_URL=https://util.devi.tools/api/v2/authorize
AUTHORIZER_TIMEOUT=5.0

NOTIFIER_URL=https://util.devi.tools/api/v1/notify
NOTIFIER_TIMEOUT=5.0
NOTIFIER_MAX_ATTEMPTS=3
